# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/0x04-TypeScript/task_0/node_modules
/0x04-TypeScript/task_0/dist
/0x04-TypeScript/task_1/node_modules
/0x04-TypeScript/task_1/dist
/0x04-TypeScript/task_2/node_modules
/0x04-TypeScript/task_2/dist
/0x04-TypeScript/task_3/node_modules
/0x04-TypeScript/task_3/dist
/0x04-TypeScript/task_4/node_modules
/0x04-TypeScript/task_4/dist
/0x04-TypeScript/task_5/node_modules
/0x04-TypeScript/task_5/dist

/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
